body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 50px;
}

.container {
    padding: 50px;
}

.profile-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.profile {
    text-align: center;
}

.profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #007BFF;
    transition: transform 0.3s ease-in-out;
}

.profile img:hover {
    transform: scale(1.1);
    border-color: #0056b3;
}

.profile p {
    font-size: 20px;
    margin-top: 10px;
    color: #333;
}
